@model EmployeeReg.Models.Employee

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="AddOrEdit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="EmployeeId" />
			<div class="form-group">
				<label asp-for="FullName" class="control-label"></label>
				<input asp-for="FullName" class="form-control" />
				<span asp-validation-for="FullName" class="text-danger"></span>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label asp-for="EmpCode" class="control-label"></label>
					<input asp-for="EmpCode" class="form-control" />
					<span asp-validation-for="EmpCode" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="DateOfBirth" class="control-label"></label>
					<input asp-for="DateOfBirth" class="form-control" />
					<span asp-validation-for="DateOfBirth" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label asp-for="Gender" class="control-label"></label><br />
					<input type="radio" asp-for="Gender" name="Gender" value="M" /> Male
					<input type="radio" asp-for="Gender" name="Gender" value="F" /> Female
					<span asp-validation-for="Gender" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="MaritalStatus" class="control-label"></label><br />
					<select asp-for="MaritalStatus">
						<option selected disabled>Select Marital Status</option>
						<option>Married</option>
						<option>Unmarried</option>
					</select>
					<span asp-validation-for="MaritalStatus" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="ImageFile" class="control-label"></label>
				<input asp-for="ImageFile" accept="image/png,image/jpg,image/jpeg" />
				<span asp-validation-for="ImageFile" class="text-danger"></span>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<button type="submit" value="Submit" class="btn btn-primary btn-block">@(Model.EmployeeId!=0? "Update": "Create")</button>
				</div>
				<div class="form-group col-md-6">
					<a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
